@font-face {
  src: url(/fonts/Inter/static/Inter-Regular.ttf);
  font-family: inter-regular;
}

@font-face {
  src: url(/fonts/Inter/static/Inter-Bold.ttf);
  font-family: inter-bold;
}

@font-face {
  src: url(/fonts/Lexend_Deca/static/LexendDeca-Regular.ttf);
  font-family: lexend-regular;
}
